================Gitignore AgroPilot================
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Entornos
.env/
.venv/
env/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db
*.vscode
*:Zone.Identifier

# Archivos temporales
*.tmp
*.log
*.zip
*.7z

# Datos crudos
data/raw/**
!data/raw/.gitkeep
data/raw/dhime/**
!data/raw/dhime/.gitkeep
data/processed/**
!data/processed/.gitkeep

# Modelos entrenados
*.h5
*.ckpt
*.pt
*.pth
*.onnxgoogle-chrome-stable_current_amd64.deb
google-chrome-stable_current_amd64.deb

# Archivos de configuración
*.conda
conda-meta/

