# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Entornos
.env/
.venv/
env/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db
*.vscode
*:Zone.Identifier

# Archivos temporales
*.tmp
*.log

# Modelos entrenados
*.h5
*.ckpt
*.pt
*.pth
*.onnxgoogle-chrome-stable_current_amd64.deb
